body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#zamowienia-table {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
}

    #zamowienia-table tr.noweZamowienie:nth-child(3n+1) {
        background-color: #fff5bd;
        -moz-transition-duration: 3s;
        -o-transition-duration: 3s;
        -webkit-transition-duration: 3s;
        transition-duration: 3s;
    }

    #zamowienia-table tr:nth-child(3n+1) {
        background-color: #f1f1f1;
        -moz-transition-duration: 3s;
        -o-transition-duration: 3s;
        -webkit-transition-duration: 3s;
        transition-duration: 3s;
    }

        #zamowienia-table tr:nth-child(3n+1) td {
            padding: 10px;
        }

        #zamowienia-table tr:nth-child(3n) td {
            height: 35px;
        }